@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Crimson Text', serif;
}

.converter {
    padding: 10px 20px;
    color: brown;
    position: relative;
}

.converter > .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    text-decoration: overline;
}

.converter > .title svg {
    width: 30px;
    color: #888843;
    margin-right: 5px;
}

.converter > .title > h1 {
    font-size: 18px;
    font-weight: 900;
}

#converterForm  {
    display: flex;
    gap: 2rem;
    height: 100%;
}

.base {
    background-color: #cdbeaa;
    width: 380px;
    height: 380px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
}

.base:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#converterForm > .base > div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#converterForm > .base > div > input, 
#converterForm > .base > div > select {
    border: 1px solid rgb(210, 207, 207);
    padding: 11px;
    color: chocolate;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: inset 8px 3px 15px #b1b73f66;
    width: 235px;
}

#converterForm > .btnContainer {
    background-color: #cdbeaa;
    width: 150px;
    height: 150px;
    margin: 80px;
    padding: 12px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
}

#converterForm > .btnContainer:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#converterForm > .btnContainer > button {
    width: 100%;
    color: #fff;
    background-color: #494926;
    background-image: linear-gradient(gold, brown);
    border: none;
    padding: 10px;
    margin: 50px 2px;
    cursor: pointer;
    letter-spacing: 0.1em;
    border-radius: 10px;
}

#converterForm > .btnContainer > button:hover {
    background-color: brown;
    color: black;
}

#result {
    position: absolute;
    color: black;
    width: 200px;
    height: 100px;
    padding: 20px;
    font-weight: 900;
    bottom: .5rem;
    right: 100px;
    text-align: center;
    background: #cdbeaa;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
}

#result:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#result.error {
    color: red;
    padding: 20px;
}

/* media query for 800px */
@media screen and (max-width : 800px) {
    body {
        height: 100%;
    }

    .converter {
        margin-top: 3rem;
        padding: 10px;
    }

    #converterForm  {
        flex-direction: column;
        padding: 2rem;
    }

    #converterForm > .btnContainer {
        margin: -6.5rem 0px 0px 0px;
    }

    #result {
        color: black; 
        margin: -1.3rem -2rem 5rem 0px;
    }

    #result.error {
        color: red;
        padding: 25px;
    } 
    
}

@media screen and (max-width : 460px) {
    body {
        height: 100%;
    }

    .converter {
        margin-top: 3rem;
        padding: 0;
        border: 2px solid;
        margin-bottom: 4rem;
    }

    #converterForm  {
        flex-direction: column;
        padding: 10px;
    }

    #converterForm > .base {
        background-color: #cdbeaa;
        width: 320px;
        height: 350px;

    }

    #converterForm > .btnContainer {
        width: 130px;
        height: 130px;
    }

    #result {
        width: 130px;
        height: 130px;
        color: black; 
        margin: 0px -5rem 1rem 0px;
    }

    #result.error {
        color: red;
        padding: 25px;
    } 
    
}